streamlit
tensorflow
tf-keras
transformers
pandas
Pillow
scikit-learn
spacy
langchain
langchain-huggingface
faiss-cpu
huggingface-hub
protobuf
requests
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
langchain-community
