streamlit
pandas
numpy
tensorflow
scikit-learn
Pillow
huggingface-hub
langchain
langchain_community
langchain-huggingface
faiss-cpu
spacy
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
keras


